<h1>Edit Blog Post</h1>

<form method="post" action="/create">
  <div class="mb-3">
    <label for="blog-title" class="form-label">Blog Title</label>
    <input
      type="text"
      class="form-control"
      id="blog-title"
      name="title"
      placeholder="Enter blog title"
      value="{{post.title}}"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="blog-content">Blog details</label>
    <textarea
      type="text"
      class="form-control"
      id="blog-content"
      rows="12"
      name="description"
    >{{post.description}}</textarea>

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>