<h1>Edit Blog Post</h1>
<form id="edit-form" method="POST" action="/edit-form?_method=PUT">
  <input type="hidden" name="post_id" value={{post.id}} />
  <div class="mb-3">
    <label for="blog-title" class="form-label">Blog Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter blog title"
      value="{{post.title}}"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="blog-content">Blog details</label>
    <textarea
      class="form-control"
      id="blog-content"
      rows="12"
      name="description"
      id="description"
    >{{post.description}}</textarea>

  </div>
  <button
    type="submit"
    class="btn btn-primary"
    {{! onclick="editForm()" }}
  >Submit</button>
</form>

<script src="/javascripts/script.js"></script>