<div class="row">
  <div class="col-8">
    <div class="blog-content">
      <h1 class="my-3 display-6">{{post.title}}</h1>
      <small class="my-2"><strong>{{post.created_at}}</strong></small>
      <div class="card my-4">
        <p class="p-4">{{post.description}} </p>
      </div>

    </div>
  </div>
  <div class="col-4">

  </div>
</div>