body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #cacaca;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  .blog {
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    box-shadow: -3px -2px 9px 0px rgba(163, 153, 153, 0.68);
    -webkit-box-shadow: -3px -2px 9px 0px rgba(163, 153, 153, 0.68);
    -moz-box-shadow: -3px -2px 9px 0px rgba(163, 153, 153, 0.68);
  }
}
